.orderbook-container {
    height: 100vh; /* take the whole screen */
    width: 100%; /* take the whole screen */
    display: flex;
    flex-direction: column; /* make it a column */
    align-items: center; /* center the table */
    color: #fff; /* text color */
    font-family: 'Open Sans', sans-serif; /* font family */
}

h2 {
    margin-top: 30px; /* add some margin */
    font-size: 2rem; /* make it big */
    font-weight: bold; /* make it bold */
}

table {
    width: 80%; /* take 80% of the screen */
    border-collapse: collapse;
    margin-top: 20px; /* add some margin */
}

th, td {
    border: 1px solid #ccc; /* add some border */
    padding: 8px;
    text-align: center; /* center the text */
}

th {
    background-color: #6c757d; /* background color */
    color: #fff; /* text color */
    font-size: 1.2rem; /* make it big */
}

tr {
    background-color: #212529; /* background color */
    color: #fff; /* text color */
    font-size: 1.2rem; /* make it big */
}

tr.buy {
    background-color: #28a745; /* background color */
}

tr.sell {
    background-color: #dc3545; /* background color */
}
